body {
    background-image: url("../images/TrainHD.jpg");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.jumbo {
    opacity: 0.5;
}
.panelCustom {
    opacity: 0.5;
}